/* base parameters */

body {
    background-color: rgb(4, 12, 3);
    color: rgb(249, 249, 239);
    margin: 0;
}

h1, h2, h3 {
    font-family: "Zalando Sans", sans-serif;
    font-weight: 900;
}

h3 {
    text-align: center;
    font-size: xxx-large;
}

main {
    width: 80%;
    justify-self: center;
}

p, li {
    font-size: larger;
    font-family: "Zalando Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}

/* hero */

.hero {
    position: relative
}

.hero-image {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: xx-large;
    text-align: center;
}

.arrow {
    transform: translate(0, 18vh);
}

.hero-text h2 {
    font-size: xx-large;
}

/* about */

.about {
    font-size: x-large;
}

/* projects section */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    text-align: center;
    margin: 10px;
}

.project ul {
    justify-self: center;
    width: 80%
}

.project li {
    text-align: left;
}

.project-photo {
    justify-content: center;
    margin: 1vw;
}

.project-photo img {
    width: 100%;
    border-radius: 10px;
}